/* MessagesComponent's private CSS styles */
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-weight: normal;
}

code {
  font-family: "Roboto Mono", monospace;
  color: red;
}
